<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Taco Cloud</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<h1>Design your taco!</h1>
	<img th:src="@{/images/TacoCloud.png}" />
	<form method="POST" th:object="${taco}">
		<div class="grid">
			<div th:each="ingredient, iStat : *{ingredients}">
				<div th:if="${iStat.count} == '1'">
					<h3>Designate your wrap:</h3>
				</div>
				<div th:if="${iStat.count} == '3'">
					<h3>Pick your protein:</h3>
				</div>
				<div th:if="${iStat.count} == '5'">
					<h3>Choose your cheese:</h3>
				</div>
				<div th:if="${iStat.count} == '7'">
					<h3>Determine your veggies:</h3>
				</div>
				<div th:if="${iStat.count} == '9'">
					<h3>Select your sauce:</h3>
				</div>
				<input type="checkbox" th:field="*{ingredients}"
					th:value=${ingredient.id} /> <span> <label
					th:text="${ingredient.name}"> </label></span> <br />
			</div>
		</div>
		<div>
			<h3>Name your taco creation:</h3>
			<input type="text" th:field="*{name}" /> <br />
			<button>Submit your taco</button>
		</div>
	</form>
</body>
</html>
